body{
  background: lightgray;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.transition{
  margin: 20px;
  width:100%;
  display: flex;
  border-radius: 17.5px;
  box-shadow: 0 0 5px #000000;

  :first-child{
    border-top-left-radius:17.5px;
    border-bottom-left-radius:17.5px;
  }
  :last-child{
    border-top-right-radius:17.5px;
    border-bottom-right-radius:17.5px;
  }
}
.transition-block{
  height: 150px;
  display: flex;
  flex-grow: 1;
  transition: all 250ms ease-out;
  animation:fade-in .6s ease-out both;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  .transition-name{
    opacity:0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-overflow: wrap;
    overflow: hidden;
    background: #717475;
    max-width:50%;
    color:white;
    padding: 15px;
    width:0;
    transition: all 250ms ease-out;
    .close-color{
      border-radius: 10px;
      margin-top:10px;
      height: 30px;
      width:100%;
    }
  }
  &:hover{
  .transition-name{
    width:100px;
    opacity:1;
  }
  }
}
.colors{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items:center;
}
.steps-input{
  font-size:30px;
  padding:10px;
  border:none;
  border-radius: 17.5px;
  text-align: center;
  border-radius: 17.5px 0 0 17.5px;
}
.picker-wrapper{
  display:inline-flex;
  border-radius: 17.5px;
  box-shadow: 0 0 5px #000000;
}
.color-picker {
  padding:20px;
  flex-grow:2;
  align-items: center;
  transition: all 250ms ease-out;
  &:first-child{
      border-top-left-radius:17.5px;
      border-bottom-left-radius:17.5px;
      .color-block{
        justify-content: flex-end;
      }
  }
  &:last-child{
    border-top-right-radius:17.5px;
    border-bottom-right-radius:17.5px;
    justify-content: flex-start;
  }
}
.color-block{
  display:flex;
  flex-wrap:wrap;
}
.color-button {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  margin:5px;
  border:none;
  transition: all 250ms ease-out;
  &.current{
    box-shadow: inset 0 0 2px #1d2123;
  }
}
.tooltip-anchor{
  position:relative;
  display: flex;
  flex-direction: column;
  .tooltip{
    display:flex;
    justify-content: center;
    flex-direction: column;
    position:absolute;
    border-radius: 5px;
    align-items: center;
    z-index: 5;
    pointer-events: none;
    opacity:0;
    background: #1d2123;
    top:100%;
    align-self: center;
    color:white;
    font-size:16px;
    padding:10px;

  }
  .tooltip-color{
    margin-bottom:10px;
    height:40px;
    width:100%;
  }
  &:hover{
    .tooltip{
      opacity:1;
      box-shadow: 0 0 5px #1d2123;
      pointer-events: auto;
    }
  }
}
.input-wrapper{
  box-shadow: 0 0 5px #000000;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 17.5px;
}
.run-button{
  font-size:16px;
  align-self: top;
  height:55px;
  padding-right:10px;
  border:none;
  border-radius: 0 17.5px 17.5px 0;
  background: #52b245;
  color:white;
  &:active{
    background:#736b64;
  }
}

 @keyframes fade-in{
   0%{ opacity:0 } 
   100%{ opacity:1 }
  }